# General Layout
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
BreakStringLiterals: false

# Braces
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Custom

# Spacing
SpacesInParentheses: False
SpacesInSquareBrackets: False

# Line Wrapping
AllowAllParametersOfDeclarationOnNextLine: false

# Other
ReflowComments: true
SortIncludes: true